body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  padding-right: 10px;
  padding-left: 10px;
}
.card-img {
  width: 5em;
  height: 5em;
}

.row {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.card-img-top {
  width: 5em;
}